* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  outline: 0px;
}
html {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title {
  font-size: 48px;
  font-family: 'Roboto', serif;
  color: rgb(81, 81, 81);
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 64px;
}
.title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.container {
  width: 1200px;
  margin: 0px auto;
}
/*technical*/
.header {
  margin: 40px 0px 128px 0px;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-size: 30px;
  font-family: 'Montserrat';
  color: rgb(26, 188, 156);
  line-height: 1.2;
  letter-spacing: 0.6px;
  font-weight: bold;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list-item {
  margin-right: 60px;
}
.nav-list-item:last-child {
  margin-right: 0px;
}
.nav-list-link {
  font-family: 'Montserrat';
  font-size: 14px;
  color: rgb(26, 188, 156);
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  position: relative;
}
.nav-list-link:hover {
  color: rgb(243, 129, 129);
}
.nav-list-link:hover::after {
  color: rgb(243, 129, 129);
  background-color: rgb(243, 129, 129);
  width: 100%;
}
.nav-list-link::after {
  content: '';
  width: 0%;
  height: 3px;
  display: block;
  margin: 0 auto;
  bottom: -12px;
  color: rgb(243, 129, 129);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s linear;
}
/*Header*/

.title-logo {
  font-size: 24px;
  font-family: 'KaushanScript';
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.title-text {
  font-size: 30px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 390px;
  height: 96px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.card-text {
}
.card-image {
  display: inline-block;
  margin-bottom: 62px;
  padding: 40px;
}
.card-title {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 14px;
}
.text {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  width: 269px;
  height: 39px;
}

/*service*/
.our-team-text {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  width: 942px;
  height: 42px;
  margin-left: 120px;
}
.our-team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0px 80px 0px;
}
.team-list-item {
}
.list-img-wraper {
  width: 380px;
  height: 472px;
  position: relative;
}
.name {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgba(51, 51, 51, 0.8);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.position {
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  display: block;
}
.team-mate-info {
  margin-top: 42px;
}
.overlay {
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.85) 0%,
    rgba(243, 129, 129, 0.85) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* visibility: ;
  opacity: ;*/
}
.social-links {
}
.social-list-item {
  width: 56px;
  height: 56px;
  position: absolute;
}
.social-list-item-link {
}
.social-list-item-link:hover {
  background-color: rgb(26, 188, 156);
}

.social-list-item-link-facebook {
  background-image: url(../img/facebook.png);
}
.social-list-item-link-twitter {
  background-image: url(../img/twitter.png);
}
.social-list-item-link-pinterest {
  background-image: url(../img/pinterest.png);
}
.social-list-item-link-instagram {
  background-image: url(../img/instagram.png);
}

/*our team*/
.footer {
  height: 62px;
  display: flex;

  position: relative;
}
.footer::before {
  width: 1200px;
  height: 1px;
  background-color: rgb(229, 229, 229);
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: px;
  position: absolute;
}
.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  margin-top: px;
  display: flex;
}
.footer-link {
  color: rgb(243, 129, 129);
}
.footer-input {
  display: inline;
  border: 1px solid rgb(231, 231, 231);
}
.footer-link {
  align-items: center;
}
.input {
  width: 234px;
  height: 40px;
  border-style: none;
  border-width: 1px;
  margin-left: 10px;
}
.input::placeholder {
  color: rgb(231, 231, 231);
  font-style: italic;
}
.input-button {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
  border-style: none;
}
